.geist{
    font-family: "Geist", sans-serif;
     background-color: #F8FAFC;
}

*{
    padding: 0;
    margin: 0;
     
}

.dashboard-container{
max-width: 1200px;
margin: 0 auto;
/* border: 1px solid red; */
padding-top: 40px; 
border-bottom: 2px solid #323b4930;   

}

.dashboard-container h2{
    color: #002C5C;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.dashboard-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
   padding-bottom: 30px;
}
.card-items{
    background-color: #FFFFFF;
    padding: 20px;

}

.card-items h3{
    color: #323B49;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 8px;

}

.card-items p{
    color: #002C5C;
    font-size: 1.3rem;
    font-weight: bold;
}
#dashboard-interview-count{
    color: green;
}
#dashboard-reject-count{
    color: #EF4444;
}

.available-jobs-container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-bottom: 30px;
}
.available-jobs-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.available-jobs-title h2{
    color: #002C5C;
    font-size: 1.3rem;
    font-weight: 600;
}
#jobs-number{
    font-size: 1rem;
    color: #64748B;
    font-weight: 400;
}
.feature-btn{
    padding: 10px;
    border: 1px solid grey;
    margin-right: 8px;
    color: #64748B;
    width: 120px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
}

#btn-delete{
    border: 1px solid grey;
    border-radius: 100%;
    padding: 8px;
}

#btn-delete:hover{
    transition:scale(0.80);
    background-color: grey;

}
.job-card{
    padding: 24px;
    width: 1200px;
    margin-top: 20px;
}

#not-applied-btn{
    padding: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.167);
    border-radius: 6px;
    margin-bottom: 8px;

}
.btn{
    padding: 10px;
    
}
.company-name{
    color: #002C5C;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;

}
.company-position{
    color: #64748B;
    font-size: 1rem;
    margin-bottom: 20px;
}
.company-salary{
    color: #64748B;
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.company-description{
    color: #323B49;
    font-size: 0.9;
    margin-bottom: 20px;

}






@media screen and (max-width: 576px){
    .dashboard-card{
   
    grid-template-columns: repeat(1,1fr);
    margin: 20px;
  
}
}